.calories{
    width: 35%; 
    height: 550px;
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px -4px black;
    border-radius: 10px;
}
.calorie-number-ratio{
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 48%;
}
.calorie-number{
    font-size: 4.5rem; 
}
.calorie-ratio{
    font-size: 1.5rem;
}
.macros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: -50px;
}
.macro-name-amount{
    display: flex; 
    flex-direction: column;
    align-items: center;
}