.calories{
    width: 45%; 
    height: 300px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px -4px black;
    border-radius: 10px;
}