.full-progress-box{
    background-color: #17271e; ; 
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
    transform: translate(122%, 15%);
    height: 650px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px; 
    box-shadow: 0px 0px 20px -4px black;
    z-index: 10000;
    overflow: auto;
    color: white;
}
.progress-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;
}
.label-input{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
.full-progress-box label{
    color: white;
}
.full-progress-box input{
    height: 35px; 
}
.label-input select{
    height: 40px;
}
.full-progress-box input, .label-input select{
    background-color: #203326;
    border: 1px solid rgba(255, 255, 255, 0.132);
    border-radius: 8px; 
    box-shadow: 0px 0px 2px -5px white; 
    color: white;
    padding-left: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.full-progress-box input:focus, .full-progress-box:focus{
    color: white;
}
input:focus, select:focus{
    outline: none; 
}
#saveBtn{
    width: 64%;
    min-height: 40px;
    font-size: 1.25rem;
    background-color: #325b3e;
    color: white;
    border-radius: 8px;
    border: none; 
    margin-top: 20px;
    cursor: pointer; 
    flex-shrink: 0;
}
.advanced-options{
    width: 65%;
    display: flex;
    align-items: flex-start;
}
#advanced{
    margin-top: 30px;
    background-color: #17271e;
    border: none;
    color: white;
    width: max-content; 
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-style: italic;
    color: rgb(167, 167, 167);
}
.arrow{
    margin-bottom: 6px;
}
.advanced-options-box{
    margin-top: 25px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 15px;
}
.advanced-label-input{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
@media (max-width: 1015px){
    .full-progress-box{
        width: 50%;
        transform: translate(50%, 10%);
    }
}
@media (max-width: 650px){
    .full-progress-box{
        width: 70%;
        transform: translate(21%, 10%);
    }
}
@media (max-width: 430px){
    .full-progress-box{
        width: 90%;
        transform: translate(6%, 10%);
    }
    .label-input{
        width: 90%;
    }
}
@media (max-width: 400px){
    .full-progress-title{
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
}