.full-micronutrient-box{
    background-color: #17271e; 
    position: absolute;
    width: 40%;
    left: 0;
    top: 0;
    transform: translate(82%, 40%);
    height: 500px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px; 
    box-shadow: 0px 0px 20px -4px black;
    z-index: 10;
    overflow: auto;
}
.full-micro-title{
    text-align: center;
    color: white;
}
.micro-info{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%; 
}
.title-dv{
    color: white; 
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.micros{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: -30px;
    border-radius: 8px; 
    overflow: hidden;
}
.dv-label{
    margin-right: 10px;
}

@media (max-width: 1432px){
    .full-micronutrient-box{
        width: 65%;
        transform: translate(30%, 40%);
    }
}
@media (max-width: 868px){
    .full-micronutrient-box{
        width: 85%;
        transform: translate(9%, 40%);
    }
}
@media (max-width: 675px){
    .full-micronutrient-box{
        width: 95%;
        transform: translate(3%, 40%);
    }
}