@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #144130, #1e6b3e, #144130);
    position: relative;
}
.header img{
    height: 120px; 
    width: 120px; 
    margin-left: 50px;
}
.line{
    width: 40px;
    height: 8px;
    margin-right: 50px;
    background-color: white;
}
.hamburger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
#line1.active{
    animation: x1 500ms ease-out 0s forwards 1;
    z-index: 15; 
}
#line2.active{
    display: none;
}
#line3.active{
    animation: x3 500ms ease-out 0s forwards 1;
    z-index: 15; 
}
.title{
    font-size: 3rem; 
    font-family: 'Montserrat';
    color: white;
    margin-left: -20px;
}
.menu{
    width: 15%; 
    height: 100vh;
    position: absolute;
    background-color: #144130;
    color: white;
    z-index: 10;
    right: -15%; 
    top: 0; 
    display: none;
    flex-direction: column;
}
.menu-title{
    text-align: center;
    position: relative;
    right: 35px;
    top: 15px;
    font-size: 30px;
}
.menu-list{
    list-style: none;
    position: relative;
    left: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu.active{
    display: flex;
    animation: menu 475ms ease-out 0s forwards 1;
}

@keyframes x1 {
    0%{
        transform: rotate(0deg); 
    }
    100%{
        transform: rotate(45deg); 
        translate: 0% 50%; 
    }
}
@keyframes x3 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg); 
        translate: 0% -100%; 
    }
}
@keyframes menu{
    0%{
        translate: 0% 0%; 
    }
    100%{
        translate: -100% 0%;
    }
}

@media(max-width: 1150px){
    .header img{
        height: 50px; 
        width: 50px;
        margin-left: 2px; 
    }
    .line{
        margin-right: 2px;
    }
    .title{
        font-size: 1.5rem; 
    }
    .header{
        height: 75px;
        justify-content: space-around;
        width: 100%;
        left: -1%;
    }
}