.macro-container{
    width: 32%;
    height: 165px;
    border: none;
    position: relative;
}
.macro-percentage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    font-size: 1.5rem;
    font-family: var(--font-mono);
}
.macro-amount{
    font-family: var(--font-mono);
}
.macro-name-amount{
    position: relative;
    left: 3%;
    margin-top: -8px;
}
.macro-circles{
    width: 100%;
    height: 125px;
    margin-top: -3px;
}
.progress-circle{
    transform: rotate(-180deg);
    transform-origin: 37% 50%;
} 
.macro-circles{
    position: relative; 
}

@media(max-width: 1364px){
    .macro-percentage{
        font-size: 1rem;
        font-family: var(--font-mono);
        transform: translate(-50%, -150%);
    }
}
@media(max-width: 580px)
{
    .macro-name-amount{
        margin-top: -20px;
    }
}

