.macro-container{
    width: 32%; 
    height: 200px;
    border: none; 
    position: relative;
}
.macro-percentage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    font-size: 2rem;
}
.macro-name-amount{
    position: relative;
    left: 3%;
}
.macro-circles{
    width: 100%;
}
.progress-circle{
    transform: rotate(-180deg);
    transform-origin: 37% 50%;
} 
.macro-circles{
    position: relative; 
}

@media(max-width: 1441px){
    .macro-percentage{
        font-size: 1.25rem; 
        transform: translate(-50%, -150%);
    }
}

