.main{
    display: flex;
    flex-direction: column;
    width: 85%; 
    height: 900px;
    margin: 5px auto;
    border: none;
    border-radius: 10px;
    gap: 35px;
    padding: 50px 0px;
}
.top-main{
    display: flex;
    gap: 35px;
}
.bottom-main{
    display: flex;
    gap: 35px;
}

@media(max-width: 1150px){
    .top-main, .bottom-main{
        flex-direction: column;
        align-items: center;
    }
    .bottom-main{
        padding-bottom: 50px;
    }
}
