.meal{
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: -100px;
}
.meal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin: 20px -10px 0px -10px;
    background-color: #1d693d;
    color: white;
}
.meal-header.first{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
    margin-top: -10px;
}
.meal-title{
    font-size: 1.4rem;
    margin-left: 10px; 
}
.meal-title, .food-totals{
    padding-top: 6px;
}
.food{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black; 
    box-shadow: 0px 0px 5px 1px #1d693d;
    border-radius: 10px;
    height: 65px;
    cursor: pointer; 
}
.food:hover{
    background-color: rgba(255, 0, 0, 0.513); 
    transform: translatey(-3px);
    box-shadow: none;
    transition: all 0.6s ease;
    font-style:oblique;
}
.meal-food-info, .food-totals{
    display: flex; 
    gap: 8px;
}
.food-totals{
    margin-right: 10px;
}
.food-name, .food-info{
    margin: 0px 10px; 
}
.name-button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-right: 10px;
    width: 100%;
}
.add-food-button{
    margin-top: 6px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 3px 10px; 
    font-size: 20px;
    box-shadow: 0px 0px 20px -4px black;
    cursor: pointer; 
}
.add-food-button:hover{
    background-color: #0388fc; 
    color: white; 
    transition: background-color 0.5s ease; 
}
.none{
    color: rgba(128, 128, 128, 0.856);
    font-style: italic;
    margin-top: 10px;
}