.meals{
    width: 65%; 
    height: 550px;
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0px 0px 20px -4px black;
    overflow: auto;
}
@media(max-width: 1150px){
    .meals{
        width: 90%;
    }
}
@media(max-width: 530px){
    .meals{
        width: 100%;
    }
}