.meals {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 65%;
    height: 462px;
    overflow-y: auto;
    padding: 4px;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.meals::-webkit-scrollbar {
    display: none;
}
@media(max-width: 1150px){
    .meals{
        width: 90%;
        height: 392px;
    }
}
@media(max-width: 530px){
    .meals{
        width: 100%;
    }
}