.meal{
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.meal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
    margin: -10px -10px;
    overflow: hidden;
    background-color: #1d693d;
    color: white;
}
.meal-title{
    font-size: 1.4rem;
    margin-left: 10px; 
}
.meal-title, .food-totals{
    padding-top: 6px;
}
.food{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black; 
    box-shadow: 0px 0px 5px 1px #1d693d;
    border-radius: 10px;
    height: 65px;
    margin-bottom: 20px;
}
.food-info, .food-totals{
    display: flex; 
    gap: 8px;
}
.food-totals{
    margin-right: 10px;
}
.food-name, .food-info{
    margin: 0px 10px; 
}