.micronutrient-box{
    border: 1px solid black; 
    width: 35%;
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px -4px black;
    border-radius: 10px;
}
.micronutrient-icons{
    width: 65%;
    display: flex; 
    justify-content: space-between;
}
.micronutrient-icon-box{
    padding: 8px;
    border-radius: 10px;
}
.icon-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.micro-title{
    margin-bottom: 40px;
}

@media(max-width: 1150px){
    .micronutrient-box{
        width: 90%;
    }
}
@media(max-width: 530px){
    .micronutrient-box{
        width: 100%;
    }
}

