.progress-container{
    width: 63%;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px -4px black;
    border-radius: 10px;
}
.progress-title{
    margin-bottom: 40px;
}
.tracking-icons{
    width: 100%;
    display: flex; 
    justify-content: space-between;
}
.icon-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%; 
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px -4px black;
}
.progress-data{
    margin-top: -15px;
    font-size: 1.2rem;
}

@media(max-width: 1150px){
    .progress-container{
        width: 88%; 
    }
    .tracking-title{
        font-size: 12px;
        margin-bottom: 25px;
    }
    .progress-data{
        font-size: 0.9rem;
    }
    .icon-info{
        width: 35%;
    }
    .tracking-icons{
        gap: 12px;
    }
}
@media(max-width: 530px){
    .progress-container{
        width: 95%;
    }
}