.progress-container{
    width: 60%;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px -4px black;
    border-radius: 10px;
}
.progress-title{
    margin-bottom: 40px;
}
.tracking-icons{
    width: 100%;
    display: flex; 
    justify-content: space-between;
}
.icon-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%; 
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px -4px black;
}
.progress-data{
    margin-top: -15px;
    font-size: 1.2rem;
}